<template lang="jade">
  div
    ul.links
      li.links-item
        a.simple-link(
          href="https://pugjs.org/api/getting-started.html",
          traget="_blank"
        ) Документация pug
      li.links-item
        a.simple-link(
          href="http://sass-lang.com/guide",
          traget="_blank"
        ) Документация scss

      li.links-item
        a.simple-link(
          href="http://vuex.vuejs.org/ru/",
          traget="_blank"
        ) Документация vuex


      li.links-item
        a.simple-link(
          href="https://ru.vuejs.org/v2/api/",
          traget="_blank"
        ) Документация vue

    SimpleComponent
</template>

<script>

import SimpleComponent from './SimpleComponent.vue';

export default {
  name: 'Page',
  components: {
    SimpleComponent
  }
}
</script>

<style lang="sass">
  @import "../../styles/includes.scss";

  .links {
    padding: 24px;

    &-item {
      margin-bottom: 6px;
    }
  }

  .simple-link {
    @include ui-link;
  }

  input[type=text] {
    @include ui-input;
  }

  button {
    @include ui-button;
  }
</style>
